html, body {
    background-color: #e7e7e7;
    font-family: 'Open Sans', sans-serif;
}

body{
    padding: 70px 0 0 0;
    margin: 0;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

fieldset, img {
    border: 0
}

ol, ul, li {
    list-style: none
}

:focus {
    outline: none
}

body,
input,
textarea,
select,
button,
h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
}

p {
    font-size: 12px;
    display: inline-block;
    margin-left: 18px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

div, h4, span, p, input, select, h2, h3, h4, h5, label {
    font-family: 'Open Sans', sans-serif;
}

label{
    font-size: 14px;
    font-weight:normal;
}
.col-form-label{
    font-weight:bold;
}

#page .container {
    padding: 0;
}


.center-block{
    text-align: center;
}

#page {
    width: 80%;
    margin: 0 auto 1em auto;
    -webkit-box-shadow: 0 0 10px 0 #ccc;
    -moz-box-shadow: 0 0 10px 0 #ccc;
    box-shadow: 0 0 10px 0 #ccc;
}

.navbar-default .navbar-inner {
    width: 80%;
}

.navbar a{
    color: #FFF;
}

#container #header {
    background: #fff;
}

#profile-image{
    float: left;
    width: 30px;
    margin: 7px;
    border-radius: 50%;
}

.registrationbox {
    margin: 20px auto;
    width: 39em;
    height: 100%;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    border: solid 1px #cbc9c9;
}

.panel-default > .panel-heading {
    background-color: #FFFFFF;
}

input[type=radio] {
    visibility: hidden;
}

form {
    margin: 0 30px;
}

label.radio {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

label.radio:before {
    background: #3a57af;
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

label.radio:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
    opacity: 1;
}

hr {
    opacity: 0.3;
    border-color: #ccc;
    margin: 5px 0 5px;
}

.registrationbox input[type=text],
.registrationbox input[type=password],
.registrationbox .countryNames {
    width: 200px;
    height: 41px;
    -webkit-border-radius: 0 4px 4px 0/5px 5px 4px 4px;
    -moz-border-radius: 0 4px 4px 0/0 0 4px 4px;
    border-radius: 0 4px 4px 0/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px;
    padding-left: 10px;
}

.userprofile .form-group .form-control,
.userprofile .form-group .countryNames {
    height: 45px;
    -webkit-border-radius: 0 4px 4px 0/5px 5px 4px 4px;
    -moz-border-radius: 0 4px 4px 0/0 0 4px 4px;
    border-radius: 0 4px 4px 0/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    border: solid 1px #cbc9c9;
    padding-left: 10px;
}

.countryNames {
    width: 200px;
    color: #999;
}

.icon {
    display: inline-block;
    width: 40px;
    background-color: #3a57af;
    padding: 10px 0 10px 14px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    border: solid 0 #cbc9c9;
}

.block .icon {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #3a57af;
    background-color: #ffffff;
    border: 0;
    padding: 0 0 5px 2px;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    width: 20px;
}

.block a {
    font-size: 14px;
}

.block p {
    margin-left: 0;
}

.gender {
    margin-left: 30px;
    margin-top: 24px;
    float: left;
}

.accounttype {
    width: 18em;
    margin: 0 auto;
}

input[type="submit"], input[type="button"] {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #3a57af;
    position: relative;
}

.registrationbox input[type="submit"], .registrationbox input[type="button"]{
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #2e458b;
}

.block {
    min-height: 2em;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 12px 0 #efefef;
    -webkit-box-shadow: 0 0 12px 0 #efefef;
    -moz-box-shadow: 0 0 12px 0 #efefef;
    border: 1px solid #efefef;
}

.block .icon {
    margin-left: 2px;
}

.block h5 {
    padding: 10px 3px;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}

.welcome-panel {
    background-color: #efefef;
    padding: 8px;
    text-align: center;
}

.panel-body {
    min-height: 450px;
}

.userinfo {
    width: 18em;
    float: left;
}

.userinfo_container{
    padding: 0 15px;
    float: left;
}
.user_header_info {
    float: left;
    padding-top: 15px;
    font-size: 14px;
    font-weight: normal;
}

.signout {
    float: right;
    padding: 12px 15px 0 8px !important;
}

.registration_form {
    float: left;
    margin-bottom: 20px;
}

/*BOOKS*/
.wrapper {
    width: 40em;
    margin: 4em auto;
    background: #fff;
    padding: 4em;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
}

.wrapper > :first-child {
    margin-top: 0;
}

.wrapper > :last-child {
    margin-bottom: 0;
}

.desc {
    margin: 4em auto;
    font-size: 1.2em;
}

.todo {
    background: #f9f9f9;
    padding: 1em;
    border-radius: 4px;
    color: #ccc;
    font-style: italic;
    font-weight: lighter;
    font-size: .9em;
}

.todo ul {
    margin: .4em 0;
    padding: 0 1em;
}

.todo ul li {
    list-style-position: inside;
}

h1 {
    margin: 0;
}

.panel-footer {
    background-color: #1274b8;
    color: #FFFFFF;
    border: 0 !important;
    -webkit-box-shadow: 0 3px 12px 3px #333;
    -moz-box-shadow: 0 3px 12px 3px #333;
    box-shadow: 0 3px 12px 3px #333;
    padding: 16px 10px;
}

footer {
    margin: 4em auto;
    text-align: center;
    font-size: .9em;
}

.footer-inner {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #3a57af;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.emoticon-face {
    background: #FFEB3B;
    border-radius: 100%;
    width: 1.7em;
    height: 1.7em;
    transform: rotate(90deg);
    display: inline-block;
    vertical-align: middle;
    line-heigh: 1;
    margin: -.4em .2em 0;
    text-align: center;
    border: 1px solid #FDD835;
    padding-left: .1em;
    -webkit-font-smoothing: antialiased;
}

.emoticon-face--no-rotation {
    transform: rotate(0deg);
}

code {
    padding: .2em .3em;
    background: #f5f5f5;
    margin: 0 .2em;
    border-radius: 4px;
    font-size: .95em;
    font-family: 'Source Code Pro';
}

.tac {
    text-align: center;
}

.wrapper {
    width: 68em;
}

* {
    box-sizing: border-box;
}

body {
    color: #777;
    font-family: 'Open Sans', Arial, sans-serif;
}

.product-grid {
    /*width: 60em;*/
    margin: 2rem auto;
}

.product-grid.product-grid--flexbox .product-grid__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.product-grid.product-grid--flexbox .product-grid__title {
    height: auto;
    text-align: center;
}

.product-grid.product-grid--flexbox .product-grid__title:after {
    display: none;
}

.product-grid__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
}

.product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 33.33333%;
}

.product-grid__product {
    /*padding: 1rem;*/
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
}

.product-grid__product:hover {
    box-shadow: 0 0 0 1px #eee;
    z-index: 50;
}

.product-grid__product:hover .product-grid__extend {
    display: block;
    width: 100%;
}

.product-grid__img-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 220px;
}

.product-grid__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.product-grid__title {
    margin-top: .875rem;
    display: block;
    font-size: 1.125em;
    color: #222;
    height: 3em;
    overflow: hidden;
    position: relative;
}

.product-grid__title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}

.product-grid__price {
    color: #E91E63;
    font-weight: bold;
    letter-spacing: .4px;
    text-align: center;
    display: block;
}

.product-grid__extend-wrapper {
    position: relative;
}

.product-grid__extend {
    display: none;
    position: absolute;
    padding: 0 0 1rem 0;
    box-shadow: 0 0 0 1px #eee;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.product-grid__extend:before {
    content: "";
    height: .875rem;
    width: 100%;
    position: absolute;
    top: -.4375rem;
    left: 0;
    background: #fff;
}

.product-grid__description {
    font-size: .875em;
    margin-top: .4375rem;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    width: 100%;
}

.product-grid__btn {
    display: inline-block;
    font-size: .875em;
    color: #777;
    background: #eee;
    padding: .5em .625em;
    margin-top: .875rem;
    margin-right: .625rem;
    cursor: pointer;
    border-radius: 4px;
}

.product-grid__btn i.fa {
    margin-right: .3125rem;
}

.product-grid__add-to-cart {
    color: #fff;
    background: #E91E63;
}

.product-grid__add-to-cart:hover {
    background: #ee4c83;
}

.product-grid__view {
    color: #777;
    background: #eee;
}

.product-grid__view:hover {
    background: white;
}

.add_to_cart-div {
    width: 250px;
    width: 52%;
    margin: 0 auto;
}

.currency-selector {
    height: 45px;
    background: #fff;
    float: left;
    margin-top: 13px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    border: solid 1px #cbc9c9;
}

#product_price {
    float: left;
}

/*EO: BOOKS*/

@media screen and (max-width: 630px) {
    .userinfo, .companyforms {
        margin: 0 auto;
        float: none;
        width: 19em;
    }

    .registrationbox {
        height: 40em;
        width: 99%;
    }
}

/* Overrides */

#cart-container {
    float: right;
    position: relative;
    top: -10px;
}

.allproducts-heading {
    height: 45px;
    padding: 15px;
}

#itemCount {
    position: absolute;
    display: none;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
}

.shopping-cart-box {
    width: 400px;
    padding: 10px;
    position: absolute;
    z-index: 999;
    right: -15px;
    display: none;
    -webkit-box-shadow: 0 0 12px 2px #ccc;
    -moz-box-shadow: 0 0 12px 2px #ccc;
    box-shadow: 0 0 12px 2px #ccc;

    background: #191919;
    letter-spacing: .025em;
    font-size: 14px;
    color: #efefef;
    border-radius: 2px;
    margin-bottom: 20px;
}

.shopped-items {
    padding: 10px 0;
}

.basket-summary-text {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: #000 1px solid;
    padding: 20px;
}

.summaryShipping {
    border-bottom: #000 1px solid;
    padding: 14px 20px;
    float: left;
    clear: both;
    width: 100%;
}

.itemName {
    max-width: 80%;
    float: left;
}

.itemPrice {
    max-width: 20%;
    float: right;
}

.itemTotalName {
    max-width: 80%;
    float: left;
    font-size: 20px;
}

.itemTotalPrice {
    max-width: 20%;
    float: right;
    font-size: 20px;
}

.checkout {
    background: #FA5400;
    border: 0;
    padding: 5px 10px;
    margin: 5px 0;
    color: #fff;
    text-align: center;
    height: 41px;
    width: 100%;
}

.empty_cart {
    border: 0;
    padding: 5px 10px;
    margin: 5px 0;
    text-align: center;
    height: 41px;
    width: 100%;
}

.shopping-cart-box p {
    margin: 0 0 10px 0;
    width: 100%;
}

.shopping-cart-box h5 {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.navbar-default {
    background-color: #1274b8;
    color: #FFFFFF;
    border: 0;
    -webkit-box-shadow: 0 3px 10px #333;
    -moz-box-shadow: 0 3px 10px #333;
    box-shadow: 0 3px 10px #333;
    margin-bottom: 2em;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #1274b8;
    font-weight: bold;
}

.person-products-table > tbody > tr > td {
    line-height: 65px;
}

.person-product-container {
    width: 100%;
    margin: 10px 0;
    float: left;
    -webkit-box-shadow: 0 0 12px 0 #efefef;
    -moz-box-shadow: 0 0 12px 0 #efefef;
    box-shadow: 0 0 12px 0 #efefef;
    border: 1px solid #efefef;
}

.product-image-view img {
    max-width: 380px;
    width: 100%;
}

.product-image {
    padding: 20px;
    float: left;
    display: block;
}

.product-info {
    padding: 20px;
    float: left;
    display: block;
    width: 90%;
}

.product-date {
    font-size: 14px;
    color: #666;
    float: right;
}

.form-group{
    margin-bottom: 2em;
}

.course_name {
    text-align: center;
}

.course_image{
    width: 200px;
    float: left;
    margin-right: 1em;
}
.course_image img{
    width: 100%;
    display: block;
}

.coursebox{
    padding: 10px;
    /* background-color: #f0e9db; */
    min-height:150px;
    margin: 10px 0;
    box-shadow: 0 0 10px 0 #ccc;
    display: inline-block;
    width: 100%;
}

/*JQUERY UI OVERRIDE*/
.ui-widget {
    font-family: 'Open Sans', Arial, sans-serif;
}

.ui-dialog {
    padding: 0;
}

.ui-draggable .ui-dialog-titlebar {
    background: #FA5400;
    border: 0;
    padding: 10px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.ui-dialog .ui-dialog-content {
    background-color: #191919;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.ui-dialog-buttonset button {
    background: #FA5400;
    border: 0;
    padding: 5px 35px;
    margin: 5px 0;
    color: #fff;
    text-align: center;
    height: 41px;
}

.ui-dialog .ui-dialog-buttonpane {
    background-color: #191919;
    margin: 0;
    border: 0;
}

.user-courses-report{
    float: left;
    padding: 0 20px 20px 0;
    width: 90%;
}

.report-course-name{
    padding: 5px 16px;
}
.report-user-name{

}

/*EO: JQUERY UI OVERRIDE*/

@media (max-width: 1180px) {
    #page,
    .navbar-default .navbar-inner {
        width: 100%;
    }
}
@media (max-width: 1100px) {
    #page,
    .navbar-default .navbar-inner {
        /*width: 98%;*/
    }
    .navbar-right{
        margin-right:0;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

/* EO: Overrides */

/*TOGGLE MENU*/
.navbar-default .navbar-toggle{
    border:0;
}
.navbar-toggle .icon-bar{
    background-color: #fff !important;
    width: 27px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #FFF;
    background-color: #2b669a;
}
/*EO: TOGGLE MENU*/

.image-div{
    width: 27%;
    float: left;
    margin-right: 20px;
    min-height: 400px;
}
.image-div img{
    width: 100%;
}