<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mylms</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="com.springapp.mvc.domain.CourseEntity"/>
        <mapping class="com.springapp.mvc.domain.EmploymentEntity"/>
        <mapping class="com.springapp.mvc.domain.OrderDetailsEntity"/>
        <mapping class="com.springapp.mvc.domain.PersonCourseEntity"/>
        <mapping class="com.springapp.mvc.domain.PersonEntity"/>
        <mapping class="com.springapp.mvc.domain.PersonProductEntity"/>
        <mapping class="com.springapp.mvc.domain.ProductEntity"/>
        <event type="auto-flush"/>
        <!-- DB schema will be updated if needed -->
    </session-factory>
</hibernate-configuration>